.photo {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.photo img {
    top: 0;
    left: 0;
    position: absolute;
}

.center{
    text-align: center;
    margin: 0;
    background-color: #020202;
}

.strheader {
    padding: 0px 10px;
    margin: 0 auto;
    position: relative;
    background: #4d4d4d;

}
    
.headerinner {
    margin: 0 auto;
    position: relative;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

}

.header01 {
    margin: 0px;
    /* text-align: left; */

}

/* .header02 {
    text-align: right;
} */

ul.foo {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
}
  
ul.foo li {
    display: inline;
    /* margin-left: 5px;
    padding-left: 15px; */
    font-size: 25px;
    font-family: serif;
}
  
ul.foo li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

.inline-item::before {
    content: "/";
    margin-left: .5em;  
    margin-right: .5em;  
  }
  .inline-item:first-child::before {
    content: none;
  }

  a:link {color: white;}
  a:visited {color: white;}
  a:hover {color: yellow;}
  a:active {color: yellow;}

  a {text-decoration: none;}

  .team_URL{
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    background-color: #1a1a1a;
  }

  .team_URL img:hover{
    opacity: 0.6;
  }

  .logo {
      margin: 150px;
  }

  .explain {
      position: relative;
      
  }

  .explain p{
    position: absolute;
    color: #FAFFC9;
    font-family: serif;
    font-size: 30px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }

  .explain img{
      opacity: 0.5;
  }
