/******************************/
/* body用class */
.center{
    text-align: center;
    margin: 0;
    background-color: #1C1B18;
    color: #FAFFC9;
    font-family: 'Sawarabi Mincho', sans-serif;
}

/* header用class */
.strheader {
    padding: 0px 10px;
    margin: 0 auto;
    position: relative;
    background: #FBCA4D;
}
.headerinner {
    margin: 0 auto;
    position: relative;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.header01 {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.header_name {
    font-size: 50px;
}
.header_subname {
    font-size: 22px;
    padding: 0px 0px 10px 10px;
}
/* headerのメニュー用class */
ul.foo {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
}
ul.foo li {
    display: inline;
    /* margin-left: 5px;
    padding-left: 15px; */
    font-size: 20px;
    /* font-family: serif; */
}
ul.foo li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}
.inline-item::before {
    content: "/";
    margin-left: .5em;  
    margin-right: .5em;  
}
.inline-item:first-child::before {
    content: none;
}
a:link {color: #3F312B;}
a:visited {color: #3F312B;}
a:hover {color: #1D1714;}
a:active {color: #1D1714;}
a {text-decoration: none;}

/* footer用class */

p.box {
    border-bottom: 1px solid #4b4b4b;
}

.footer01 {
    position: relative;
    background: #1C1B18;
    text-align: left;
}
.footer02 {
    /* margin: 100px 300px 0px; */
    padding: 20px 0px 0px 0px;
    text-align: center;
    color: rgb(230, 230, 102);
}
.footer03 {
    margin: 40px 300px 0px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    font-size: 12px;
    color: #FFF;
}
/******************************/

/*ホームトップ画面*/

.home {
    width: 100%;
    position: relative;
}

.home_bg {
    background-size: cover;
    opacity: 0.4;
}
.home_bg img {
    width: 100%;
    height: 700px;
}
.home_intro {
    position: absolute;
    font-weight: bold;
    font-size: 27px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    line-height: 200%;
}
.st_c0 {
    font-size: 40px;
}
.st_c1 {
    color: rgb(251, 118, 77);
}
.st_c2 {
    color: #FBCA4D;
}
.st_c3 {
    color: #FFF;
}
.st_c4 {
    font-size: 30px;
    
}
.break:before { 
    content: "\A"; 
    white-space: pre; 
}
.btn-flat-bottom-border {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #BA2636;
    transition: .4s;
}   
.btn-flat-bottom-border > span {
    border-bottom: solid 2px #FFF;
}
.btn-flat-bottom-border:hover {
    background: rgb(110, 6, 17);
}
/******************************/

/*SNSアイコン用*/
.SNS_icon {
    margin: 50px 0px 30px;
}
.header02 {
    margin: 10px 0px 10px 0px;
    font-size: 30px;
    color: rgb(90, 159, 224);
}
.icon01{
    color: #FFF;
}
.btn-social-square {
    display: inline-block;
    text-decoration: none;
    width: 50px;
    margin:2px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    color:white;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .3s;
}
.btn-social-square i {
    line-height:50px;
}
.btn-social-square:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.btn-social-square--twitter {
    background: #22b8ff;
}
.btn-social-square--facebook {
    background: #6680d8;
}
.btn-social-square--youtube {
    background: #db233f;
}
/******************************/

/*チーム紹介ページ用class*/

.team {
    width: 100%;
    position: relative;
}
.team_bg {
    background-size: cover;
    opacity: 0.4;
}
.team_bg img {
    width: 100%;
}
.team_intro {
    position: absolute;
    font-weight: bold;
    font-size: 3em;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

/* 各チーム及びメンバー紹介用class */
.M_box {
    display: flex;
    justify-content: center;
    margin: 100px 100px;
    padding: 0px 0px;
}
/* 説明文 */
.text {
    text-align: left;
    text-indent: 1em;
    font-size: 20px;
    margin: 0px 30px;
}
/* 小見出し */
.text h3 {
    text-align: center;
    color: rgb(218, 218, 112);
    font-size: 50px;
    margin: 25px 20px 25px 0px;
}
/* チーム画像 */
.pict {
    /* width: 100%; */
    margin: 0px 20px;
    text-align: center;
}
.pict img {
    width: 400px;
    height: 300px;
    display: inline-block;
}

/******************************/

.music_intro {
    margin: 70px 0px 0px 0px;
}


.header03 {
    margin: 10px 0px 10px 0px;
    font-size: 40px;
    color: rgb(224, 181, 90);
}

.music_all {
    display: flex;
    justify-content: space-around;
}

.music {
    margin: 30px 0px 30px;
}

.music_ex {
    margin: 30px 30px 30px;
}

.song_name {
    margin: 0px 40px;
    color: #FAFFC9;
    font-size: 30px;
}

.n_color1 {
    color: rgb(218, 218, 112);
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-size: 25px;
}

.song_ex {
    margin: 20px 0px 30px;
    padding: 0;
}

.song_ex p{
    font-size: 15px;
}

.movie {
    width: 360px;
    height: 195px;
}






.big_img{
    /* background-color: #FAFFC9; */
    width: 50%;
    color: black;
    text-align: center;
}
.small_img{
    /* background-color: gold; */
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.song img {
    width: 100%;
    margin: 0;
    padding: 0;
}


.purpose {
    margin: 0px 100px;
    text-align: left;
}

.purpose h2{
    color: yellow;
    font-size: 40px;
}
.purpose ol {
    list-style-type: cjk-ideographic;
    padding: 0px 0px 0px 70px;
}

.purpose li {
    font-size: 30px;
    padding-top:15px;
    padding-bottom:15px;
}

.p_img {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;

}

.p_img img {
    width: 90%;
    display: inline-block;
    transition-duration: 0.5s;
}

.hover1:hover {
    transform: scale(1.8,1.8);
    cursor: pointer;
}
.hover2:hover {
    transform: scale(2.0,2.0);
    cursor: pointer;
}
.hover3:hover {
    transform: scale(1.7,1.7);
    cursor: pointer;
}
.hover4:hover {
    transform: scale(2.3,2.3);
    cursor: pointer;
}
.hover5:hover {
    transform: scale(2.3,2.3);
    cursor: pointer;
}